:root {

}

body {
  margin: 0;
}

#page {
  display: grid;
  grid-template-columns: 30vw 70vw;
}

.parte-izq {
  background-color: dodgerblue;
  width: 30vw;
  padding-top: 100px;
}

#ruben {
  width: 20vw;
  height: 20vw;
  display: block;
  margin: auto auto;
  border-radius: 50%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: white;
}

.parte-izq > h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  font-size: 1.8em;
  text-align: center;
  color: white;
}

.linea {
  background-color: white;
  width: 15vw;
  height: 4px;
  margin: auto auto;
}

#titulo-contacto {
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
  font-size: 1.8em;
  text-align: center;
  color: white;
}

.parte-izq > h3 {
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  color: white;
}

.parte-izq > h3 > a {
  text-decoration: underline;
  color: white;
}

.parte-der {
  margin: 50px 100px 50px 100px;
  font-family: 'Rubik', sans-serif ;
}

.parte-der > h2 {
  font-size: 2em;
  margin-bottom: 5px;
}

.parte-der > p {
  font-size: 1.2em;
  text-align: justify;
}


